*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .nav-bar-list li{
        list-style: none;
    }

    .nav-bar-list a{
        text-decoration: none;
    }

.nav-bar,footer{
    background-color: #A3C3D9;
}

.nav-bar-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    grid-template-rows: auto;
    justify-content: space-between;
}

.nav-bar-list div li{
    padding: 20px;
    text-align: center;
}

.nav-bar-list img{
    height: 10vh;
}
.nav-bar-list p{
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:cadetblue;
}

.search-container input{
    width: 80%;
    border: none;
    height: 30px;
    padding: 6px;
    margin-top: 20px;
    font-size: 17px;
}

.search-container{
    float: right;
}

.search-container-button{
    width: 15%;
    height: 30px;
    cursor: pointer;
    border: none;
}


.nav-bar-list div:hover{
    background-color: #E9ECF5;
}


@media all and (max-width:500px){

}









.slider{
    width: 80vw;
    height: 50vh;
    display: flex;
    overflow-x: auto;
    margin: 10px auto;
    -webkit-overflow-scrolling: touch;
}
.slide{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slider img{
    width: 100%;
    height: 100%;
}















.cards {
    padding: 50px;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-template-columns:  repeat(auto-fill,minmax(300px , 1fr)) ;
    grid-auto-columns: 250px ;
    grid-gap: 30px;
    grid-template-rows: 400px;
}


.cards .product{
    background-color: #E9ECF5;
    margin: 5px;
    padding: 5px;
}


.cards img{
    display: block;
    width: 100%;
    height: 70%;
    transition-property: all;
    transition-duration: 0.5s;
}



.product-name{
    margin-top: 15px;
}

.product-name>a{
    text-decoration: none;
    color:lightseagreen;
}

.product-name,.product-price{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* align-items: center; */
    text-align: center;
}


.product-price button{
    cursor: pointer;
    width: 15%;
    /* height: 25px; */
    font-size: medium;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.2s;
    padding: 3px 10px;
}


.cards .product img:hover {
    transform: scale(1.05);
}


.product-price button:hover{
    background-color: cornflowerblue;
}













footer{
    font-size: larger;
    height: fit-content;
}

footer a{
    text-decoration: none;
    font-size: 1.5rem;
    color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer div{
    height: 100%;
}

footer div ul{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
    /* grid-auto-columns: 250px; */
    grid-auto-rows: minmax(50px,auto);
    list-style: none;
    align-items: center; 
    justify-items: center;
}


footer li{
    height: 100%;
    padding: 15px;
}


footer div ul li:hover{

    background-color: #E9ECF5;
}


